@import "../../styles.scss";

button {
  border: none;
  width: 22vw;
  height: 30px;
  border-radius: 30px;
  margin: 20px 0px 10px;
  cursor: pointer;
  background: $red;
  color: $white;
  font-family: 'Poppins', sans-serif;
}