@import "../../styles.scss";

.modal-book-hotel-container {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(83, 83, 83, 0.301);
    height: 100vh;
    width: 100vw;
    z-index: 2;
    display: none;
}
  
.open {
    display: block;
  
    .modal-book-hotel-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50vw;
      height: 50vh;
      background-color: $white;
      margin: auto;
      border-radius: 30px;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
      padding: 30px;
  
      .hotel-chosen {
        margin: 10px 0px;
      }

      .hotel-chosen-data {
        margin: 30px 0px;

        .hotel-name {
          font-size: 18px;
          margin: 0px 0px 10px;
        }
      }
  
      .buttons-wrapper {
        display: flex;
        justify-content: space-between;
  
        button {
          margin: 30px 0px;
          width: 14vw;
        }
      }

      .booked-succesfully {
          text-align: center;

          img {
              width: 50px;
              margin: 0px 0px 30px;
          }

          button {
              width: 10vw;
              margin: 80px 0px 0px;
          }
      }
    }
}