@import "../../styles.scss";

.subheader-container {
  margin: 20px;

  .subheader-text {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
  }

  .filter-wrapper {

    .filter-header {
      font-size: 18px;
      padding: 10px;
    }

    .filters {
      display: flex;
      flex-direction: row;
      margin: 40px 0px;
      align-items: center;
      justify-content: space-between;

      .date-wrapper {
        display: flex;
        flex-direction: column;

        label {
          font-size: 12px;
          color: $red;
          margin: 0px 10px 10px;
          font-weight: bold;
        }

        input {
          margin: 0px 20px 0px 10px;
          border-radius: 30px;
          border: 1px solid $red;
          padding: 6px 15px;
          outline: none;
          cursor: pointer;
          font-size: 12px;
          width: 180px;
        }
  
      }
      .clear-filter {
        border: none;
        width: 8vw;
        height: 30px;
        border-radius: 30px;
        margin: 20px 0px 10px;
        cursor: pointer;
        background: $green;
        color: $white;
        font-family: 'Poppins', sans-serif;
      }
    }
  }
}

.hotels-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1200px;
  flex-wrap: wrap;
  margin: auto;

  .not-available {
    text-align: center;
    padding: 50px;

    .title-not-available {
      font-weight: bold;
      color: $red;
    }

    .subtitle-not-available {
      margin: 10px 0px 0px;
      font-size: 12px;
    }

    .sad-face-icon {
      margin: 10px 0px 20px;
      width: 50px;
    }
  }

}